<div class="page-header">
  <h3 class="page-title">
    Quản lý bàn
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Thêm Bàn</a></li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Danh sách bàn</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                      <input type="checkbox" aria-label="Checkbox for following text input">
                </th>
                <th>#</th>
                <th>Số lượng ghế</th>
                <th>Mã bàn</th>
                <th>Tình trạng</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="checkbox" aria-label="Checkbox for following text input">
                </td>
                <td>
                  1
                </td>
                <td>
                  4
                </td>
                <td>
                  T2-001
                </td>
                <td>
                  <input type="checkbox" aria-label="Checkbox for following text input">
                </td>
                <td>
                  <a [routerLink]="['/edit-employee']"><i class="far fa-edit text-success"></i></a>
                  <a href=""><i class="fas fa-trash-alt text-danger pl-1"></i></a>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" aria-label="Checkbox for following text input">
                </td>
                <td>
                  2
                </td>
                <td>
                  4
                </td>
                <td>
                  T2-002
                </td>
                <td>
                  <input type="checkbox" aria-label="Checkbox for following text input">
                </td>
                <td>
                  <a [routerLink]="['/edit-employee']"><i class="far fa-edit text-success"></i></a>
                  <a href=""><i class="fas fa-trash-alt text-danger pl-1"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
