<div class=" m-3">
    <!--header-->
    <div class="header bg-transparent border-success">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img src="../../../assets/images/foods/lo.png" class="img-fluid ml-2" alt="">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Tìm kiếm</button>
                </form>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false" style="color:black;"><img
                                src="../../../assets/images/foods/hiepga.png" class="rounded-circle" alt="">&nbsp; Phục
                            Vụ</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Thông tin</a>
                            <a class="dropdown-item" href="#">Đăng xuất</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--body-->
    <div class="body text-success m-3">
        <div class="body text-success m-3">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="ban" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-6">
                            <div class="row justify-content-between">
                                <div class="col-5 ">
                                    <button class="btn btn-primary w-100 height-100" [ngClass]="{'selected': listTable[1] != 0 && listTable[1] != null }" type="button" [routerLink]="['/staffs/staffs-info',1]" routerLinkActive="router-link-active" (click)="select(1)" #table1><h3>Bàn 1</h3></button>
                                </div>
                                <div class="col-5 ">
                                    <button class="btn btn-primary w-100 height-100" [ngClass]="{'selected': listTable[2] != 0 && listTable[2] != null }" type="button" [routerLink]="['/staffs/staffs-info',2]" routerLinkActive="router-link-active" (click)="select(2)" #table2><h3>Bàn 2</h3></button>
                                </div>
                            </div>
                            <div class="row mt-5 justify-content-between">
                                <div class="col-5 ">
                                    <button class="btn btn-primary w-100 height-100" [ngClass]="{'selected': listTable[3] != 0 && listTable[3] != null }" type="button" [routerLink]="['/staffs/staffs-info',3]" routerLinkActive="router-link-active" (click)="select(3)" #table3><h3>Bàn 3</h3></button>
                                </div>
                                <div class="col-5 ">
                                    <button class="btn btn-primary w-100 height-100" [ngClass]="{'selected': listTable[4] != 0 && listTable[4] != null }" type="button" [routerLink]="['/staffs/staffs-info',4]" routerLinkActive="router-link-active" (click)="select(4)" #table4><h3>Bàn 4</h3></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>